*venv
*__pycache__
*log
*.egg-info
*.egg
*.whl

# Virtual environment directories
venv/
env/


__pycache__/
*.py[cod]
*$py.class
.idea/
.vscode/


pip-log.txt
pip-delete-this-directory.txt

*.egg-info/
dist/
build/

.mypy_cache/

.pytest_cache/

*.sublime-workspace
*.sublime-project